<a href="https://colab.research.google.com/github/tx540/Business-Analytics-With-Excel/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("\"Kathy\" Joseph Alexander")

"Kathy" Joseph Alexander

In [4]:
print("He\n Doctor")

He
 Doctor

In [6]:
print("Nidhin \n Jayaprekash")

Nidhin
 Jayaprekash

In [8]:
x=10
print("x.isdecimal()")

x.isdecimal()

In [10]:
x = ["John" , "Mary" , "David" , "Adam"]
x.insert(2,"James")
print(x)

['John', 'Mary', 'James', 'David', 'Adam']

In [12]:
x=['A' , "b" , "C" , "K"]
y=int(input("Enter Index"))
n=input("Enter a name")
x.insert(y,n)

Enter Index5
Enter a nameparvathi

In [13]:
print(x)

['A', 'b', 'C', 'K', 'parvathi']

In [15]:
def tia():
      y=int(input("Enter Index"))

In [16]:
tia()

Enter Index6
Enter a Nametia

In [19]:
def maths():
    x=int(input("enter first value"))
    y=int(input("enter second value"))
    maths(x,y)

In [20]:
def maths(a,b):
   print(a+b)

In [22]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value6
enter second value7
13